body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8dbcf62;
}

.projects-section {
    text-align: center;
    padding: 50px;
}

.projects-section h1 {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.projects-section p {
    color: #444;
    font-size: 1rem;
    max-width: 600px;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.project-card .text {
    text-align: left;
}

.project-card .text h2 {
    color: #0056d4;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card .text h3 {
    color: #666;
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: normal;
}

.project-card .text p {
    color: #444;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.project-card .image {
    flex-shrink: 0;
}

.project-card .image img {
    max-width: 200px;
    border-radius: 8px;
}

.blue-line {
    height: 100%;
    width: 5px;
    background-color: #0056d4;
    margin-right: 10px;
}

/* Responsive styles */

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        align-items: center;
    }

    .project-card .text {
        text-align: center;
    }

    .project-card .image {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .project-card {
        padding: 10px;
    }

    .project-card .text h2 {
        font-size: 1.2rem;
    }

    .project-card .text p {
        font-size: 0.8rem;
    }

    .project-card .image img {
        max-width: 150px;
    }
}

@media (max-width: 320px) {
    .project-card {
        padding: 5px;
    }

    .project-card .text h2 {
        font-size: 1rem;
    }

    .project-card .text p {
        font-size: 0.7rem;
    }

    .project-card .image img {
        max-width: 100px;
    }
}